{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/signup.css' %}" />


<div class="heading">
<img class="logo" src="{{ STATIC_URL }}polls/images/logo.png" width="50px" height="50px">
<span class="headingtext" >Sign Up</span>

<br><br><br><br><br>
</div>
{% if message %}<p class="error"><strong>{{ message }}</strong></p> {% endif %}
<body class="body">
<form action= "{% url 'polls:creatinguser' %}" method="post">
{% csrf_token %}
<div class="box">

<table align="center" class="table">
<div  class="first">

<br><br>
<tr>
<td class="td"><b>First Name</b></td>
<td><input class="inpt" type="text" name="firstname" method="POST"></td>
</tr>
<tr>
<td class="td"><b>Last Name</b></td>
<td><input class="inpt" type="text" name="lastname" method="POST"></td>
</tr>

<tr>
<td class="td"><b>E-mail</b></td>
<td><input class="inpt" type="email" name="email"  method="POST"></td>
</tr>

<tr>
<td class="td"><b>Username</b></td>
<td><input class="inpt" type="text" name="username" method="POST"></td>
</tr>

<tr><td class="td"><b>Password</b></td>
<td><input class="inpt" type="password" name="password1"  method="POST"></td>
</tr>
<tr><td class="td"><b>Confirm Password</b></td>
<td><input class="inpt" type="password" name="password2"  method="POST"></td>
</tr>
</div>
</table>


<div>
<br><br><br>
<input class="signup" type="submit" name="signup" value="Sign Up" />
</form>
<p class="alreadyACC">Already have an account?</p>
<form action="{% url 'polls:loginpage' %}">

<input class="login" type="submit" name="Login" value="Login" />
</form></div>
</div>


<div class="bottom">
</div>
<div class="down">&copy; Gupta & Associates</div>
</body>